<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Server>
    <MaxThreads>10</MaxThreads>
    <StackSize>2097152</StackSize>
  </Server>
  <Security />
  <Client>
    <RelaxCertificateValid>true</RelaxCertificateValid>
  </Client>
  <Authentication />
  <Encryption />
  <WebServices />
  <Logging />
</Configuration>
