<?xml version="1.0" encoding="windows-1252"?>
<Configuration>
  <Server />
  <Security />
  <Cookies />
  <Client>
    <RelaxCertificateValid>true</RelaxCertificateValid>
    <RelaxCertificateDate>true</RelaxCertificateDate>
    <RelaxCertificateAuthor>true</RelaxCertificateAuthor>
    <RelaxCertificateUsage>true</RelaxCertificateUsage>
  </Client>
  <Authentication />
  <Encryption />
  <WebServices />
  <Logging>
    <Cache>1000</Cache>
    <DoLogging>false</DoLogging>
    <DoTiming>false</DoTiming>
    <LogLevel>5</LogLevel>
    <Rotate>false</Rotate>
    <PerUser>false</PerUser>
  </Logging>
</Configuration>
