<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Server />
  <Security />
  <Cookies />
  <Client>
    <RelaxCertificateValid>true</RelaxCertificateValid>
    <RelaxCertificateDate>true</RelaxCertificateDate>
    <RelaxCertificateAuthor>true</RelaxCertificateAuthor>
    <RelaxCertificateUsage>true</RelaxCertificateUsage>
  </Client>
  <Authentication />
  <Encryption />
  <WebServices />
  <Logging />
</Configuration>
