# LOGFILE.CONFIG
# Comment lines are preceded by a '#' sign
# All options are preceded by a explanatory comment
# No spaces around the '=' sign

# Basic filename where we write our logfile
# our webserver should have write access to this file & directory
logfile=C:\TMP\MyLogfile.txt

# Loglevel of the webserver and or webclient
# Loglevels include the following numbers:
# 0 : No logging
# 1 : Errors and warnings
# 2 : Standard logging (URL level)
# 3 : Also logs the message bodies
# 4 : Full tracing including headers
# 5 : Full tracing including hexdumping the body
loglevel=4

# Rotate (1) the logfile with a timestamp and cleanup old logfiles
# Logfile names get a timestamp before the ".txt" extension
# or just use the basename of the logfile (rotate=0)
rotate=1

# Add the timestamp to each logfile line (timing = 1)
# or just write the plain log text (timing = 0)
timing=1

# Write each logline to the MS-Windows Event viewer (events=1)
# or just write to the logfile (events=0)
events=0

# Cache this number of lines (default = 1000) before flushing all
# lines to the logfile. Reduces the amount of file access.
# Can be a number between 100 and 100.000
cache=10000

# Wait this number of seconds before flushing the cache to the logfile
# Can be a number between 10 and 600
interval=5

# If log rotatation is 'on' (rotate=1) then the logfiles are cleaned up
# when more than this number of files are stored, oldest first.
# Can be a number between 10 and 500 inclusive
keep=30